body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

textarea {
    resize: none;
    width: 400px;
    height: 80px;
    border: 1px solid #EEEEFF;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 0 #DDDDDD;
    font-family: 'Marck Script', cursive;
    font-size: 14px;
    margin: 1% auto;
    padding: 3px 3px 0 3px;
}

input[type=text], input[type=number] {
    padding: 5px;
    font-family: 'Marck Script', cursive;
    border: 1px solid #EEEEFF;
    box-shadow: 1px 1px 0 #DDDDDD;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus, input[type=number]:focus {
    border-color: #333;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

th {
    background: #DFDFDF; /* Darken header a bit */
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td {
    background: #F1F1F1;
}

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td {
    background: #FEFEFE;
}