<!DOCTYPE html>
<html>
<head>
    <title>Add Comment</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
</head>
<body>
<div id="comments-div">
    <div class="comments-table-div">
        <table id="comments-table">
            <tr>
                <th>No</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>

        </table>
    </div>

    <form id="add-comment">
        <textarea id="comment-area" style="float: left;margin: 7px;justify-content: center;" name="comment" placeholder="Enter comment..."></textarea>
        <input id="add-comment" type="submit" style="margin: 10px;" value="Add Comment"/>
    </form>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    var bookId = String(<%- JSON.stringify(bookId) %>);
    var bookComments = JSON.parse(<%- JSON.stringify(comments) %>);
    var index = 1;

    addComments(bookComments);

    $('#add-comment').submit(function (e) {
        e.preventDefault();
        var postUrl = '/comments/create/' + bookId;
        var commentText = $('#comment-area').val();

        $.post(postUrl, {text: commentText}, function (result) {
            appendComment(result);

            if(bookComments)
                bookComments.push(result);

            $('#comment-area').val('');
        });
    });

    function appendComment(comment) {
        var addContent = '<tr><td>' + index + '</td>';
        addContent += '<td>' + comment.user.name + '</td>';
        addContent += '<td>' + comment.createdAt + '</td>';
        addContent += '<td>' + comment.body + '</td>';
        addContent += '<td>' +
                '<input type="button" value="Delete" onclick="deleteComment(\'' + comment._id + '\'); return false"/>' +
                '</td></tr>';

        $('#comments-table').append(addContent);
        index++;
    }

    function deleteComment(commentId) {
        var deleteCommentUrl = '/comments/delete/' + commentId;
        $.post(deleteCommentUrl, {bookId: bookId}, function (result) {
            if (result) {
                index = 1;
                var position = bookComments.map(function (e) {
                    return e._id.toString();
                }).indexOf(commentId);

                if (position != -1) {
                    bookComments.splice(position, 1);
                    $("#comments-table tr:gt(0)").remove();
                    addComments(bookComments);
                }
            }
        });
    }

    function addComments(commentsArray) {
        for (var i = 0; i < commentsArray.length; i++) {
            appendComment(commentsArray[i]);
        }
    }


</script>

</body>
</html>
