<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/users/login" method="post">
            <div class="form-group">
                <input type="email" placeholder="Email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" name="password" required>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>

            <a href="/users/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        </form>

        <hr>

        <p>Need an account? <a href="/users/signup">Signup</a></p>
    </div>
</div>
</body>
</html>