<!DOCTYPE html>
<html>
<head>
    <title>Create New Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        #title, #description, #copies_num {
            margin-bottom: 30px;

        }
    </style>
</head>
<body>
<div id="bookDiv">

    <div style="color:red">

        <% if(errors){ %>
        <p>Please Fix this: </p>
        <% for (var key in errors) {
        if (errors.hasOwnProperty(key)) {
            var val = errors[key]; %>

        <ul>
            <li><%- val %></li>
        </ul>
        <% }}} %>
    </div>

    <form method="post" action="http://localhost:3000/books" id="bookForm">
        <p id="errors"></p>
        <input id="title" type="text" name="title" size="35" placeholder="Enter Title..."/>
        <br/>
        <input id="copies_num" type="number" name="copies_num" size="35" placeholder="Enter copies number..."/>
        <br/>
        <textarea id="description" name="description" placeholder="Enter Description..."></textarea>
        <br/>
        <input id="submit-input" type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
