<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        #title, #description {
            margin-bottom: 30px;

        }
    </style>
</head>
<body>
<div id="bookDiv">
    <div style="color:red">

        <% if(errors){ %>
        <p>Please Fix this: </p>
        <% for (var key in errors) {
        if (errors.hasOwnProperty(key)) {
            var val = errors[key]; %>

        <ul>
            <li><%- val %></li>
        </ul>
        <% }}} %>
    </div>
    <form method="post" action="http://localhost:3000/books/edit/<%= data.id %>" id="bookForm">
        <input id="title" type="text" value="<%= data.title %>" name="title" size="35"
               placeholder="Enter Title..."></input>
        <br/>
        <input id="copies_num" type="number" name="copies_num" value="<%= data.copies_num %>" size="35"
               placeholder="Enter copies number..."/>
        <br/>
        <textarea id="description" name="description"
                  placeholder="Enter Description..."><%= data.description %></textarea>
        <br/>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>
