<!DOCTYPE html>
<html>
<head>
    <title>Show Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <style>
        #search {
            text-align: left;
            width: 400px;
            font-size: 1.3em;
            padding: 5px;
            border-radius: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        #loadMore {
            color: green;
            cursor: pointer;
        }

        #loadMore:hover {
            color: black;
        }

        .linkStyle {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: transparent;
            color: #00B7FF;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            padding: 0px;
            cursor: pointer;
            border-bottom: 1px solid #00B7FF;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        a {
            color: #00B7FF;
            padding-left: 7px;
        }
    </style>
</head>
<body>
<div id="booksDiv">
    <div class="header-div">
        <a href="/users/logout">Logout</a>
        <a href="/books/create">Add Book</a>

        <br/>
        <input id="search" type="search" placeholder="Search title">
    </div>

    <div class="data-table-div">
        <table id="data-table">
            <tr>
                <th width="50px">No</th>
                <th>Title</th>
                <th>Description</th>
                <th>Copies</th>
                <th>Actions</th>
            </tr>

            <% if(!data.length){ %>
            <tr>
                <td colspan="3">No Books</td>
            </tr>
            <% } %>

        </table>
    </div>
</div>

<div id="loadMore" onclick="populateTable()">Load More</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    var $search = $('#search');
    var tableContent = '', index = 1;
    var page = parseInt(<%- JSON.stringify(currentPage) %>);
    var perNum = parseInt(<%- JSON.stringify(per) %>);
    var searchQuery = '';

    addToTable(<%- JSON.stringify(data) %>);

    ($search).on('keyup', function (e) {
        if (e.keyCode === 13) {
            var parameters = {searchQuery: $(this).val()};
            page = parseInt(<%- JSON.stringify(currentPage) %>);
            perNum = parseInt(<%- JSON.stringify(per) %>);
            index = 1;
            $.get('/books?per=' + perNum + 'currentPage=' + page, parameters, function (result) {
                $("#data-table tr:gt(0)").remove();
                addToTable(result.data);
            });
        }
    });

    function populateTable() {
        var parameters = {searchQuery: $search.val()};

        page++;
        $.getJSON('/books/paginate?currentPage=' + page + '&per=' + perNum, parameters, function (data) {
            perNum = data.per;
            page = data.currentPage;
            searchQuery = '';
            addToTable(data.data);
        });
    }

    function addToTable(data) {
        tableContent = '';
        var rentalStatus = 'Rent';
        var loginUserId = String(<%- JSON.stringify(loginUserId) %>);
        $.each(data, function () {
            tableContent += '<tr><td>' + index + '</td>';
            tableContent += '<td>' + this.title + '</td>';
            tableContent += '<td>' + this.description + '</td>';
            tableContent += '<td><p id="copies-num-' + this._id + '">' + this.copies_num + '</p></td>';
            tableContent += '<td><a class="a-inside edit" href="../books/edit/' + this._id + '">Edit</a>';
            tableContent += '<a class="a-inside delete" href="../books/delete/' + this._id + '">Delete</a>';
            tableContent += '<a class="a-inside edit" href="../comments/' + this._id + '">Comment</a>';

            var position = this.users.map(function (e) {
                return e._id.toString();
            }).indexOf(loginUserId);

            if (position != -1)
                rentalStatus = 'Return';
            else
                rentalStatus = 'Rent';

            tableContent += '' +
                    '<input class="linkStyle" id="rentInput-' + this._id + '" type="button" value="' + rentalStatus + '" style="margin-left: 7px" onclick="rentRet(\'' + this._id + '\'' + '); return false"/>' +
                    '</td>';
            tableContent += '</tr>';
            index++;
        });
        $('tbody').append(tableContent);
    }

    function rentRet(bookId) {
        var id = 'rentInput-' + bookId;
        var rentalStatus = $('#' + id).val();
        var postUrl = rentalStatus === 'Rent' ? '/rentals/rent/' + bookId : '/rentals/return/' + bookId;
        $.post(postUrl, function (result) {
            if (result.status == 200) {
                var rentalInputVal = rentalStatus === 'Rent' ? 'Return' : 'Rent';
                $('#' + id).val(rentalInputVal);
                if (result.bookCopiesNum) {
                    $('#copies-num-' + bookId).text(result.bookCopiesNum);
                }
            } else
                alert(result);
        });
    }


</script>

</body>
</html>
