<table border="1" cellpadding="7" cellspacing="7">
    <tr>
        <th width="50px">No</th>
        <th>Title</th>
        <th>Description</th>
        <th>Copies</th>
        <th>Actions</th>
    </tr>

    <% if(data.length){

    for(var i = 0;i < data.length;i++) { %>
    <tr>
        <td><%= (i + 1) %></td>
        <td><%= data[i].title %></td>
        <td><%= data[i].description %></td>
        <td><%= data[i].copies_num %></td>
        <td>
            <a class="a-inside edit" href="../books/edit/<%= data[i].id %>">Edit</a>
            <a class="a-inside delete" href="../books/delete/<%= data[i].id %>">Delete</a>
            <a class="a-inside edit" href="../rentals/rent/<%= data[i].id %>">Rent</a>
        </td>
    </tr>
    <% }

    }else{ %>
    <tr>
        <td colspan="3">No Books</td>
    </tr>
    <% } %>

</table>